<header>
    @if (openDialogue){
        <app-users  [users]="users" (cancel)="onCloseDialogue()" (user)="onSelectUser($event)"/>
    }@else if (openCategory) {
        <app-add-category (cancel)="onCloseCategory()" (addCategory)="onAddCategory($event)"/>
    }

    <div class="navbar">
        <!-- Dynamic -->
        <ul>
            @for(category of categories; track category){
                <li>
                    <button [class.active]="selectedCategory === category" type="button" (click)="changeCategory(category)">
                        {{category}}
                    </button>    
                </li>
            }
        </ul>
        <div class="profile-pic">
            <button id="btn-category" (click)="onSelectAddCategory()">
                Add Category
            </button>
            <a type="button" (click)="onClick()">
                @if (selectedUser){
                        <img [src]="'../../assets/users/' + selectedUser.avatar"/>
                    }
            </a>
        </div>
    </div>
</header>