<main>
  <dialog open>
    <div class="backdrop">
      <div class="container">
        <h1>Change Users</h1>
        <ul>
          @for (user of users; track user.id) {
          <li>
            <button id="user-btn" type="button" (click)="changeUser(user)">
              <img [src]="'../../../assets/users/' + user.avatar" />
              <span>{{ user.name }}</span>
            </button>
          </li>

          }
        </ul>
        <div class="actions">
          <button type="button" id="signup" (click)="onClickAddUser()">
            Add User
          </button>
          <button type="button" id="cancel" (click)="onClose()">cancel</button>
        </div>
      </div>
    </div>
  </dialog>
  @if(openAddUser){
  <app-add-user (cancel)="onCancel()" (submit)="onAddUser($event)"/>
  }
</main>
